extends layout
block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src='/js/deck_check.js')
  h1= title
  p Curiosity Format is a combination of Limited and Constructed. 40-card Deck Requirements:
    ul
      li All cards must come from the same set (Current Season Set: M21)
      li 2 Rare/Mythic (1 and only 1 of each) 
      li 6 Uncommon (no more than 2 of each) 
      li 4 max each common (including common lands)
      li 8 card sideboard (no rarity restrictions, but deck must meet the above requirements after sideboarding)
  div.input
      span.label Add your deck here from MTG Arena to see if it meets the format.
      br
      textarea#deck-input(cols="100", rows="5")
        |2 Drowsing Tyrannodon (M21) 178
        |8 Plains (IKO) 262
        |2 Pridemalkin (M21) 196
        |3 Anointed Chorister (M21) 4
        |4 Forest (IKO) 274
        |1 Basri's Acolyte (M21) 8
        |2 Conclave Mentor (M21) 216
        |2 Hunter's Edge (M21) 189
        |1 Basri's Lieutenant (M21) 9
        |2 Basri's Solidarity (M21) 10
        |4 Feat of Resistance (M21) 19
        |1 Setessan Training (M21) 205
        |3 Swift Response (M21) 40
        |1 Basri Ket (M21) 7
        |4 Blossoming Sands (M20) 243
        |1 Forest (M21) 272
        |2 Wildwood Scourge (M21) 214
        | 
        |Sideboard
        |2 Return to Nature (M21) 200
        |1 Swift Response (M21) 40
        |2 Run Afoul (M21) 201
        |2 Seasoned Hallowblade (M21) 34
  div.actions
    button(onClick='checkDeck()') check my deck
  div.input#deck-check-results(hidden)
    span.label Deck check results
    br
    textarea(cols="100", rows="5")
