extends layout
block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src='/js/deck_check.js')
  h1= title
  p Curiosity Format is a combination of Limited and Constructed. 40-card Deck Requirements:
    ul
      li All cards must come from the same set (Current Season Set: Zendikar [ZNR])
      li 2 Rare/Mythic (1 and only 1 of each) 
      li 6 Uncommon (no more than 2 of each) 
      li 4 max each common (including common lands)
      li 8 card sideboard (no rarity restrictions, but deck must meet the above requirements after sideboarding)
  div.input
      span.label Add your deck here from MTG Arena to see if it meets the format.
      br
      textarea#deck-input(cols="100", rows="5")
        |1 Magmatic Channeler (ZNR) 148
        |10 Island (ANB) 113
        |6 Mountain (ANB) 114
        |2 Umara Wizard (ZNR) 86
        |2 Roost of Drakes (ZNR) 74
        |2 Rockslide Sorcerer (ZNR) 154
        |4 Cunning Geysermage (ZNR) 55
        |4 Tazeem Roilmage (ZNR) 84
        |1 Coralhelm Chronicler (ZNR) 54
        |4 Roil Eruption (ZNR) 155
        |1 Expedition Diviner (ZNR) 57
        |3 Bubble Snare (ZNR) 47
        | 
        |Sideboard
        |1 Roiling Vortex (ZNR) 156
        |1 Relic Robber (ZNR) 153
        |2 Cinderclasm (ZNR) 136
        |2 Risen Riptide (ZNR) 73
        |1 Expedition Diviner (ZNR) 57
        |1 Fissure Wizard (ZNR) 140
  div.actions
    button(onClick='checkDeck()') check my deck
  div.input#deck-check-results(hidden)
    span.label Deck check results
    br
    textarea(cols="100", rows="5")
