extends layout
block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src='/js/deck_check.js')
  h1= title
  p Curiosity Format is a combination of Limited and Constructed. 40-card Deck Requirements:
    ul
      li All cards must come from the same set (Current Season Set: #[strong Kaldheim] #[i(class=['ss', 'ss-kld'])]) 
      li You must have the exact number of each rarity below: 
        ul(style='list-style: none; padding-left:10px')
          li #[i(class='ss ss-ons ss-mythic ss-fw')] 1 Mythic Rare
          li #[i(class='ss ss-ons ss-rare ss-fw')] 1 Rare
          li #[i(class='ss ss-ons ss-uncommon ss-fw')] 6 Uncommon: no more than 2 of each
          li #[i(class='ss ss-ons ss-common ss-fw')] Uncommon: unlimited total, but no more than 4 of each (including common lands)
      li 8 card sideboard: no rarity restrictions, but deck must meet the above requirements after sideboarding
    | Head to #[a(href='http://curiositymtg.com') curiositymtg.com] if you want to learn more about the format or sign up to play in our weekly tournament. 
  div.input
      span.label Which set are you using?
      select#set-code
        each set in supportedSetList
          option(value=set.code) #{set.name}
      br
      br
  div.input
      span.label Paste your deck here from MTG Arena to see if it meets the format. To copy it in Arena, select the deck and then click "Export".
      br

      textarea#deck-input(cols="100", rows="5") #{sampleDeck}
  div.actions
    button(onClick='checkDeck()') check my deck
  div.input#deck-check-results(hidden)
    span.label Deck check results
    br
    textarea(cols="100", rows="5")
