body
  font-family Helvetica Neue,Helvetica,Arial,sans-serif 
  font-size 16px
  text-aling center

#wrapper
  width 75%
  max-width 750px
  text-align left 
  margin 0 auto
  padding 30px

  border 1px solid transparent
  border-radius 4px

  background-color white

  box-shadow 0 1px 3px 0 #e6ebf1

label 
  width 15%
  min-width 70px
  padding 11px 0
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  

button, input[type=submit] 
  box-sizing border-box

  height 40px

  padding 10px 12px
  margin-top 10px

  border 1px solid transparent
  border-radius 4px
  background-color white

  box-shadow 0 1px 3px 0 #e6ebf1
  -webkit-transition box-shadow 150ms ease
  transition box-shadow 150ms ease
  text-align center
